include README.md
include Dockerfile
include entrypoint.sh
recursive-include definitive_verify2/util *
include definitive_verify2/LICENSE
include doc/*.md
include doc/screenshots/*
recursive-include payload_samples/*/ *.json

exclude *.bak